<div class="grid-container">
    <table class="unstriped">
        <thead>
        <tr>
            <th width="200">Image</th>
            <th>Product Info</th>
            <th width="150">Price</th>
        </tr>
        </thead>
        <tbody>
        {{#each data}}
            <tr>
                <td>
                    <img src={{this.img}} alt={{this.name}} style="width: 150px; height: auto">
                </td>
                <td>
                    <a>{{this.name}}</a>
                    <p>{{this.description}}</p>
                </td>
                <td>
                    <span>{{this.price.value}}</span>
                    <span>{{this.price.currency}}</span>
                </td>
            </tr>
        {{/each}}
        </tbody>
    </table>
</div>
