<div class="grid-container">
    <div class="grid-x grid-margin-x" id="pdp">
        <div class="cell auto image-container">
            <div id="zoomView">
                <img id="zoomImage" class="full-image" src={{this.img}} alt={{this.name}}>
            </div>
            <img class="zoom-icon" src="http://localhost:3001/zoom.svg">
        </div>
        <div class="cell medium-6 large-8">
            <div class="grid-x align-justify">
                <div class="column small-4">
                    <h2 >{{this.name}}</h2>
                </div>
                <div class="column small-4 text-right fcr">
                    <span>{{this.price.value}}</span>
                    <span>{{this.price.currency}}</span>
                </div>
            </div>
            <hr>
            <p>{{this.description}}</p>
            <button type="button" class="button radius bordered shadow primary">Add to Cart</button>
        </div>
    </div>
</div>
<script type="text/template" id="zoomTemplate">
    <img id="zoomImage" class="full-image" src={{this.img}} alt={{this.name}}>
</script>
